.dark-mode{
    background-color: #090909;
}

.dark-mode #header{
    background-color: #000;
}

.dark-mode .logo{
    background-image: url(../images/logod.png);
}

.dark-mode a{
    background-color: #000;
    color: #fff;
}

.dark-mode a:hover {
    color: rgb(33, 33, 241);
}

.dark-mode #theme{
    background-image: url(../images/sol.png);
}

